@model List<Game>

<table>
    <tr>
        <th>Location</th>
        <th>Open Slots</th>
        <th>Owner</th>
        <th>Time of match</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a onclick="location.href='@Url.Action("Index", "Game" , new {id = item.Id})'" href="#">@item.PitchName</a></td>
            <td>@item.MaxSlots</td>
            <td>@item.Owner</td>
            <td>@item.StartTime</td>

        </tr>
    }
</table>
